<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
        return false;
      });
    });
</script>



<div class='container'>
<h3>Test</h3>
    <form action="/background_process_test" method = "POST"
         enctype = "multipart/form-data">

            <input type="file" name="file" class='btn btn-default'>Test</input>
        <input type="submit">
    </form>

</div>
