<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
                  //controls.log(data)
                  //$('#res').append('');
              //do nothing
            });
        return false;
      });
    });
</script>


{%extends "layout.html"%}
{% block content %}
<div class='home'>
<h3>Test</h3>
    <form action="/background_process_test" method = "POST"
         enctype = "multipart/form-data">

            <input type="file" name="file" class='btn btn-default'>Test</input>
        <input type="submit">
    </form>


<div id="res">
  
<!-- <video width="320" height="240" controls><source src="movie.mp4" type="video/mp4"><source src="movie.ogg" type="video/ogg">Your browser does not support the video tag.</video>
 -->
</div>

</div>
{%endblock%}
